{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block meta %}
<meta charset="UTF-8">
<meta content='width=device-width, initial-scale=1.0, user-scalable=0' name='viewport'>
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta name="description" content="{{ store.meta_description }}">
<meta content="PicoSite" name="author">
<meta name="keywords" content="{{store.meta_keywords}}">
<meta name="robots" content="index, follow">
<link rel="canonical" href="{{store.get_canonical}}">

<!-- Open Graph tags -->
<meta property="og:title" content="{{store.meta_og_title}}">
<meta property="og:description" content="{{meta_og_description}}">
<meta property="og:image" content="{{store.get_logo_image}}" rel="shortcut icon" type="image/x-icon">
<meta property="og:url" content="{{store.get_canonical}}">
<meta property="og:type" content="website">

<!-- Twitter Card tags -->
<meta name="twitter:card" content="Summary Card with Large Image">
<meta name="twitter:title" content="{{store.meta_tc_title}}">
<meta name="twitter:description" content="{{store.meta_tc_description}}">
<meta name="twitter:image" content="{{store.get_logo_image}}">
{% endblock %}

{% block title %}مشترکین{% endblock %}
{% block content %}

<div class="main-content app-content mt-0">
    <div class="side-app">

        <!-- CONTAINER -->
        <div class="main-container container-fluid">

            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1 class="page-title">مشترکین</h1>
            </div>
            <!-- PAGE-HEADER END -->

            <!-- Row -->
            <div class="row">
                <div class="col-xl-12">
                    <div class="row">
                        
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">ثبت نام جدید</div>
                                </div>
                                <form id="customerForm" method="post" action="{% url 'shop:index' %}">
                                    {% csrf_token %}
                        
                                    <div class="card-body">
                                        <div class="form-row">
                                            <div class="form-group col-md-4 mb-0">
                                                <div class="form-group">
                                                    <label class="form-label">نام</label>
                                                    <input name="name" class="form-control" placeholder="نام" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4 mb-0">
                                                <div class="form-group">
                                                    <label class="form-label">نام خانوادگی</label>
                                                    <input name="family_name" class="form-control" placeholder="نام خانوادگی" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4 mb-0">
                                                <div class="form-group">
                                                    <label class="form-label">شماره تماس</label>
                                                    <input name="phone_number" class="form-control" placeholder="شماره تماس"
                                                           type="text">
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4 mb-0">
                                                <label class="form-label">تاریخ تولد</label>
                                                <div class="input-group">
                                                    <div class="input-group-text">
                                                        <i class="fa fa-calendar tx-16 lh-0 op-6"></i>
                                                    </div>
                                                    <input name="birthday" class="form-control fc-datepicker" placeholder="MM/DD/YYYY"
                                                           type="text">
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4 mb-0">
                                                <div class="form-group">
                                                    <label class="form-label">کد ملی</label>
                                                    <input name="national_code" class="form-control" placeholder="کد ملی"
                                                           type="text">
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4 mb-0">
                                                <label class="form-label">بیمه</label>
                                                <select class="form-control form-select select2" data-bs-placeholder="وضعیت بیمه"
                                                        name="ensurance">
                                                    <option value="0">ندارد</option>
                                                    <option selected value="1">دارد</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-footer mt-2">
                                            <button type="submit" class="login100-form-btn btn-primary">افزودن مشترک جدید</button>
                                            <p class="text-danger">{{message}}</p>
                                        </div>
                                        <div><br></div>
                                    </div>
                                </form>
                        
                                        <div class="card-header">
                                            <h3 class="card-title">مشترکین فعال</h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-bordered text-nowrap border-bottom"
                                                               id="responsive-datatable">
                                                    <thead>
                                                    <tr class="border-top">
                                                        <th>نام و نام خانوادگی</th>
                                                        <th>شماره تماس</th>                                                   
                                                        <th>تاریخ تولد</th>
                                                        <th>تاریخ ثبت‌نام</th>
                                                        <th>کد ملی</th>
                                                        <th>بیمه</th>
                                                        <th>مجموع پرداختی</th>
                                                        <th>عملیات</th>


                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for customer in customers %}
                                                            <tr>
                                                                <td class="align-middle">
                                                                    <a class="modal-effect text-success"
                                       data-bs-effect="effect-scale" data-bs-toggle="modal" href="#customer{{customer.id}}">{{customer.full_name}}</a>
                                                                </td>
                                                                <td class="align-middle">{{customer.phone_number}}</td>
                                                                <td class="align-middle">{{customer.birthday}}</td>
                                                                <td class="align-middle">{{customer.register_date}}</td>
                                                                <td class="align-middle">{{customer.national_code}}</td>
                                                                <td class="align-middle">{% if customer.ensurance == True %}دارد{% else %}ندارد{% endif %}</td>
                                                                <td class="align-middle">{{customer.get_total_payments|intcomma}} تومان</td>
                                                                <td class="align-middle" class="align-middle">
                                                                    <button class="btn btn-success modal-effect text-white"
                                                                    data-bs-effect="effect-scale" data-bs-toggle="modal" href="#customer{{customer.id}}">مشاهده دوره‌ها</button>
                                                                    <a href="{% url 'shop:delete_customer' customer.id %}" class="btn text-danger bg-danger-transparent btn-icon py-1"
                                                                                            data-bs-original-title="حذف" data-bs-toggle="tooltip"><span
                                                                                                    class="bi bi-trash fs-16"></span></a>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                        </div>
                    </div>
                    <!-- End Row -->

                </div>
            </div>
            <!-- ROW-1 CLOSED -->
        </div>
        <!-- CONTAINER CLOSED -->

    </div>
</div>

{% for customer in customers %}
<div class="modal fade" id="customer{{customer.id}}">
    <div class="modal-dialog modal-dialog-centered text-center" role="document">
        <div class="modal-content modal-content-demo">
            <div class="modal-header">
                <h6 class="modal-title">پیش‌نمایش پیام</h6>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"><span
                        aria-hidden="true ">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table border text-nowrap text-md-nowrap table-striped mb-0">
                        <thead>
                            <tr>
                                <th>نام دوره</th>
                                <th>تاریخ ثبت‌نام</th>
                                <th>تعداد جلسات</th>
                                <th>هزینه پرداختی</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for course in customer.get_courses.all %}
                        <tr>
                            <td>{{course.title}}</td>
                            <td>{{course.shamsi_register_date}}</td>
                            <td>{{course.num_of_sessions}}</td>
                            <td>{{course.cost_paid|intcomma}} تومان</td>
                        </tr>
                        {% endfor %}
                        
                        </tbody>
                    </table>
                </div>                
            </div>
            <div class="modal-footer">
                <button class="btn btn-light" data-bs-dismiss="modal">بستن</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}

{% block js %}
<script src="{% static 'assets/plugins/persian-date-picker/babakhani/persian-date.min.js' %}"></script>
<script src="{% static 'assets/plugins/persian-date-picker/babakhani/persian-datepicker.min.js' %}"></script>
<script src="{% static 'assets/plugins/time-picker/jquery.timepicker.js' %}"></script>
<script src="{% static 'assets/plugins/time-picker/toggles.min.js' %}"></script>
<script src="{% static 'assets/plugins/date-picker/date-picker.js' %}"></script>
<script src="{% static 'assets/plugins/input-mask/jquery.maskedinput.js' %}"></script>
<script src="{% static 'assets/js/formelementadvnced.js' %}"></script>
<script src="{% static 'assets/js/form-elements.js' %}"></script>
<script src="{% static 'assets/plugins/datatable/js/dataTables.bootstrap5.js' %}"></script>
<script src="{% static 'assets/plugins/datatable/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/js/autofill-table.js' %}"></script>
<script src="{% static 'assets/plugins/select2/select2.full.min.js' %}"></script>
<script src="{% static 'assets/js/select2.js' %}"></script>
<script src="{% static 'assets/js/autofill-table.js' %}"></script>
<script src="{% static 'assets/plugins/multipleselect/multiple-select.js' %}"></script>
<script src="{% static 'assets/plugins/multipleselect/multi-select.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/custom.js' %}"></script>
<script src="{% static 'assets/plugins/datatable/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatable/js/dataTables.bootstrap5.js' %}"></script>
<script src="{% static 'assets/plugins/datatable/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatable/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatable/responsive.bootstrap5.min.js' %}"></script>
<script src="{% static 'assets/js/table-data.js' %}"></script>
{% endblock %}