{% extends "base.html" %}
{% load static %}

{% block meta %}
<meta charset="UTF-8">
<meta content='width=device-width, initial-scale=1.0, user-scalable=0' name='viewport'>
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta name="description" content="{{ store.meta_description }}">
<meta content="PicoSite" name="author">
<meta name="keywords" content="{{store.meta_keywords}}">
<meta name="robots" content="index, follow">
<link rel="canonical" href="{{store.get_canonical}}">

<!-- Open Graph tags -->
<meta property="og:title" content="{{store.meta_og_title}}">
<meta property="og:description" content="{{meta_og_description}}">
<meta property="og:image" content="{{store.get_logo_image}}" rel="shortcut icon" type="image/x-icon">
<meta property="og:url" content="{{store.get_canonical}}">
<meta property="og:type" content="website">

<!-- Twitter Card tags -->
<meta name="twitter:card" content="Summary Card with Large Image">
<meta name="twitter:title" content="{{store.meta_tc_title}}">
<meta name="twitter:description" content="{{store.meta_tc_description}}">
<meta name="twitter:image" content="{{store.get_logo_image}}">
{% endblock %}

{% block title %}مشترکین{% endblock %}
{% block content %}

<div class="main-content app-content mt-0">
    <div class="side-app">

        <!-- CONTAINER -->
        <div class="main-container container-fluid">

            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1 class="page-title">مشترکین</h1>
            </div>
            <!-- PAGE-HEADER END -->

            <!-- Row -->
            <div class="row">
                <div class="col-xl-12">
                    <div class="row">
                        
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">ثبت نام جدید</div>
                                </div>
                                <form method="post" action="{% url 'shop:index' %}">
                                    {% csrf_token %}
                        
                                    <div class="card-body">
                                        <div class="form-row">
                                            <div class="form-group col-md-6 mb-0">
                                                <div class="form-group">
                                                    <input name="full_name" class="form-control" placeholder="نام و نام خانوادگی" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6 mb-0">
                                                <div class="form-group">
                                                    <input name="phone_number" class="form-control" placeholder="شماره تماس"
                                                           type="text">
                                                </div>
                                            </div>
                                            <!-- <div class="input-group col-md-6 mb-0">
                                                <div class="input-group">
                                                    <div class="input-group-text">
                                                        <i class="fa fa-calendar tx-16 lh-0 op-6"></i>
                                                    </div>
                                                    <input name="from_time" class="form-control fc-datepicker" placeholder="MM/DD/YYYY"
                                                           type="text">
                                                </div>
                                            </div>
                                            <div class="input-group col-md-6 mb-0">
                                                <div class="input-group">
                                                    <div class="input-group-text">
                                                        <i class="fa fa-calendar tx-16 lh-0 op-6"></i>
                                                    </div>
                                                    <input name="to_time" class="form-control fc-datepicker" placeholder="MM/DD/YYYY"
                                                   type="text">
                                                </div>
                                            </div> -->
                                        </div>
                                        <div class="form-footer mt-2">
                                            <button type="submit" class="login100-form-btn btn-primary">افزودن مشترک جدید</button>
                                        </div>
                                        <div><br></div>
                                    </div>
                                </form>
                        
                                        <div class="card-header">
                                            <h3 class="card-title">مشترکین فعال</h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-vcenter">
                                                    <thead>
                                                    <tr class="border-top">
                                                        <th>نام و نام خانوادگی</th>
                                                        <th>شماره تماس</th>                                                   
                                                        <th>تاریخ ثبت‌نام</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for customer in customers %}
                                                            <tr>
                                                                <td>{{customer.full_name}}</td>
                                                                <td>{{customer.phone_number}}</td>
                                                                <td>{{customer.register_date}}</td>
                                                                
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                        </div>
                    </div>
                    <!-- End Row -->

                </div>
            </div>
            <!-- ROW-1 CLOSED -->
        </div>
        <!-- CONTAINER CLOSED -->

    </div>
</div>
<!--app-content closed-->
    
{% endblock %}

{% block js %}
<script src="{% static 'assets/plugins/persian-date-picker/babakhani/persian-date.min.js' %}"></script>
<script src="{% static 'assets/plugins/persian-date-picker/babakhani/persian-datepicker.min.js' %}"></script>
<script src="{% static 'assets/plugins/time-picker/jquery.timepicker.js' %}"></script>
<script src="{% static 'assets/plugins/time-picker/toggles.min.js' %}"></script>
<script src="{% static 'assets/plugins/date-picker/date-picker.js' %}"></script>
<script src="{% static 'assets/plugins/input-mask/jquery.maskedinput.js' %}"></script>
<script src="{% static 'assets/js/formelementadvnced.js' %}"></script>
<script src="{% static 'assets/js/form-elements.js' %}"></script>
{% endblock %}